<!DOCTYPE html>
<html>
<head>
    <title>Characters Ranked</title>
    <link rel="stylesheet" href="../../static/happydaysapp/styles.css">
</head>
<body>
    {% include 'header.html' %}
    <h2>Your results:</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Episode Count</th>
            </tr>
        </thead>
        <tbody>
            {% for character in characters %}
                <tr>
                    <td>{{ character.name }}</td>
                    <td>{{ character.num_appearances }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'footer.html' %}
</body>
</html>
